@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ECF0F3;
}

.hidden-icon {
  display: none;
}


::selection {
  background-color: #FF014F;
  color: white;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  background-color: #ECF0F3;
}


.sidebar {
  position: fixed;
  right: -290px;
  top: 0;
  width: 290px;
  height: 100vh;
  background-color: #0B1019;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  transition: right 0.8s;
  z-index: 100;
  padding: 20px;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 17px;
  font-family: Inter;
}

.sidebar li a {
  text-decoration: none;
  color: white;
}



.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
  font-family: Montserrat;
  /* border: 1px solid red; */
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin:  auto;
  width: 90%;
}

.navbar {
  font-family: Montserrat;
  padding: 30px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 25px;
  color: #FF014F;
  border: none;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  background-color: #e5eef1;
  border-radius: 6px;
  font-family: Montserrat;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.btn:hover {
  background-color: #FF014F;
  color: white;
  transform: translateY(-4px);
}

.navbar ul a {
  color: #3C3E41;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
}

.navbar ul a:hover {
  color: #FF014F;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 45px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 45px;
}


.banner-img {
  border-radius: 18px;
  transition: 0.5s;
}

.banner-img:hover {
  transform: translateY(-6px);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 100px;
}

.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.me {
  width: 430px;
  height: 440px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #EEF1F4;
}

.icon {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #e5eef1;
  display: inline-block;
  padding: 13px;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  transition: 0.4s;
}

.icon:hover {
  color: white;
  background-color: #FF014F;
  transform: translateY(-4px);
}


.contact-card {
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f3;
  padding: 25px;
  border-radius: 12px;
}

.contact-card img {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.4s;
}

.contact-card:hover img {
  transform: scale(1.1);
}

input {
  border-radius: 7px;
  padding: 0 10px;
  font-size: 17px;
  width: 100%;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 10px;
}

input:focus,
textarea:focus {
  outline-color: #FF014F;
}

.contac-me-section {
  display: flex;
  gap: 45px;
  margin-top: 40px;
}

.message-card {
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f3;
  padding: 25px;
  border-radius: 12px;
}

.nameEmail-input {
  display: flex;
  gap: 25px;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 150px;
}

.project-card {
  width: 100%;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f3;
  border-radius: 14px;
  padding: 22px;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-5px);
}


.skills-cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.skillCard {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  background-color: #e5eef1;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  border-radius: 8px;
  transition: 0.4s;
}

.skillCard:hover {
  transform: translateY(-4px) scale(1.04);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
}

.user-icon {
  background-color: #EBBDCF;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.about-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-top: 40px;
}




.skill-section,
.contac-section,
.projects-section {
  padding-top: 150px;
}





@media (max-width:1200px) {
  .container {
    width: 90%;
  }
}



/* tablet */
@media (max-width:770px) {
  .hidden-icon {
    display: block;
  }

  .banner-content {
    width: 100%;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 55px;
  }

  .navbar-right {
    display: none;
  }

  .me {
    width: 100%;
    height: 100%;
  }

  .nameEmail-input {
    flex-direction: column;
  }

  .contac-me-section {
    flex-direction: column;
    gap: 60px;
  }

  .contact-card,
  .message-card {
    width: 100%;
  }
}


@media (max-width:500px) {}